*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 80vh;
  background-color: #2b2d42;

}
#container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding-bottom: 1em;
  padding-top: 1em;
  justify-content: space-evenly;
  background-color: #e5e5e5;
}
#main-section {
  flex-grow: 1;

}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.home{
  background-color: #8d99ae;
}
#footer{
  background-color:#e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}